{% load static%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mydiary/css/style_detail.css' %}" /> 
    <meta charset="utf-8">
    <title>DETAIL</title>
</head>

<body>
    <header>
        <h1>내용 자세히보기</h1>
    </header>
    
    <main>
        <div class="posts">
            {% if post.pub_date %}
                <div class="date">
                    {{ post.pub_date }}
                </div>
            {% endif %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.body|linebreaks }}</p>
        </div>
    </main>
    
</body>

<footer>
    <a class="btn btn-outline-warning btn-phone" style= "text-decoration: none; font-family: 'MapoPeacefull'; padding: 10px; font-size: 18; border: 2px solid black; line-height: 3; " href="{% url 'edit' index=post.pk %}">수정하기</a>
    <a class="btn btn-outline-warning btn-phone" style= "text-decoration: none; font-family: 'MapoPeacefull'; padding: 10px; font-size: 18; border: 2px solid black; line-height: 3; " href="{% url 'delete' pk=post.pk %}">삭제하기</a>

    <!-- <a href="{% url 'edit' index=post.pk %}">수정하기</a><br> -->
    <!-- <a href="{% url 'delete' pk=post.pk %}">삭제하기</a> -->
</footer>
