{% load static%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mydiary/css/style.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'mydiary/css/style.css?ver=1' %}" /> 
    <meta charset="utf-8">
    <title>MY DIARY</title>
</head>

<body>
    <header>
        <h1>아기사자의 세션노트</h1>
    </header>
    <main>
        <div id="top">
           <a class="btn btn-outline-warning btn-phone" style= "text-decoration: none; font-family: 'MapoPeacefull'; padding: 13px; font-size: 20; border: 2px solid black; line-height: 5; " href="{% url 'new' %}">작성하기</a>
        </div>
        <div id="container">
            <h2>최근 글</h2>

                {% for post in posts_list %}
                <section>
                    <a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a><br>
                </section>
                {% endfor %} 

        </div>  
    </main>
</body>

