{% extends 'mydiary/base.html' %}
{% block content %}
{% load static %}


<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">후기 적었나요?</h1>
          <p class="lead">까먹고 후회말고 제때제때 적어두자</p>
          <a class="btn btn-warning" href="{% url 'new' %}" role="button">작성하기</a>
        </div>
      </div>

    <div id="homecontainer">
        <h2>최근 글</h2>
        <div class="accordion" id="accordionExample">
            
            <div class="card">
                {% for post in posts_list %}
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            {{ post.title }}
                        </button>
                    </h2>
                </div>
                
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="card-text">{{ post.body }}</p>
                        <a href="{% url 'detail' pk=post.pk %}">포스트 보기</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>


    </div>
</main>


{% endblock %}