*{
    box-sizing: border-box;
}

@font-face { 
    font-family: 'Recipekorea'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); 
    font-weight: lighter; 
    font-style: normal; 
}

@font-face { 
    font-family: 'MapoPeacefull'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

h1{
    font-family: "RecipeKorea";
    text-align: center;
    line-height: 3;
}

body{
    background-color: #f8f8f8;
}

main{
    width: 700px;
    margin: 50 auto;
    font-family: "RecipeKorea"
}
