*{
    box-sizing: border-box;
}

@font-face { 
    font-family: 'Recipekorea'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); 
    font-weight: lighter; 
    font-style: normal; 
}

@font-face { 
    font-family: 'MapoPeacefull'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

header{
    height: 80px;
    background-color: #333;
    padding: 1px 20px;
    line-height: 20px;
}

body{
    font-family: "MapoPeacefull";
}

h1{
    font-size: 40px; 
    color: white;
}

main{
    height: auto;
    min-height: 400px;
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 10px 0 0 10px;
}

footer{
    margin-top: 20px;
}