*{
    box-sizing: border-box;
}

@font-face { 
    font-family: 'Recipekorea'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); 
    font-weight: lighter; 
    font-style: normal; 
}

@font-face { 
    font-family: 'MapoPeacefull'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family: 'S-CoreDream-8Heavy'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); 
    font-weight: lighter; 
    font-style: normal; }

h1{
    font-family: "RecipeKorea";
}

h2{
    font-family: "RecipeKorea";
    color: black;
}

.card-text{
    font-family: "MapoPeacefull";
}

nav{
    font-family: "RecipeKorea";
}

main{
    height: auto;
    min-height: 600px;
    margin: 30;
}

#homecontainer{ 
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-family: "RecipeKorea";
}

.posts{
    font-family: "RecipeKorea";

}

.posts p{
    font-family: "MapoPeacefull"
}
